**Reading Records.json/ Inventory**

In [3]:
import json

with open('Records.json', 'r') as fp:
  data = json.load(fp)

data

{'1001': {'Category': 'Food', 'Name': 'Rice', 'Price': 35, 'Qty': 943},
 '1002': {'Category': 'Snacks', 'Name': 'Burger', 'Price': 25, 'Qty': 98},
 '1003': {'Category': 'Drinks', 'Name': 'Lime Juice', 'Price': 20, 'Qty': 66},
 '1004': {'Category': 'Drinks', 'Name': 'Coke', 'Price': 30, 'Qty': 89},
 '1005': {'Category': 'Food', 'Name': 'Pulses', 'Price': 39, 'Qty': 199},
 '1006': {'Category': 'Snacks', 'Name': 'Pizza', 'Price': 99, 'Qty': 200},
 '1007': {'Category': 'Snacks', 'Name': 'Pastry', 'Price': 45, 'Qty': 70},
 '1008': {'Category': 'Drinks', 'Name': 'Dew', 'Price': 35, 'Qty': 67},
 '1009': {'Category': 'Drinks', 'Name': 'Frooti', 'Price': 45, 'Qty': 90},
 '1010': {'Category': 'Technology',
  'Name': 'Laptop',
  'Price': 76500,
  'Qty': 87},
 '1011': {'Category': 'Technology', 'Name': 'PC', 'Price': 45909, 'Qty': 123},
 '1012': {'Category': 'Technology',
  'Name': 'Mobile',
  'Price': 1999,
  'Qty': 108},
 '1013': {'Category': 'Technology', 'Name': 'Mouse', 'Price': 159, 'Qty': 213},
 '1014': {'Category': 'Technology',
  'Name': 'Charger',
  'Price': 139,
  'Qty': 199},
 '1015': {'Category': 'Technology',
  'Name': 'Data Card',
  'Price': 800,
  'Qty': 67},
 '1016': {'Category': 'Technology',
  'Name': 'Earphones',
  'Price': 1599,
  'Qty': 159},
 '1017': {'Category': 'Technology',
  'Name': 'Keyboard',
  'Price': 799,
  'Qty': 210},
 '1018': {'Category': 'Accessories',
  'Name': 'Wallet',
  'Price': 110,
  'Qty': 50},
 '1019': {'Category': 'Accessories',
  'Name': 'Goggles',
  'Price': 499,
  'Qty': 90},
 '1020': {'Category': 'Accessories',
  'Name': 'Wrist Watch',
  'Price': 1899,
  'Qty': 145},
 '1021': {'Category': 'Accessories', 'Name': 'Cable', 'Price': 30, 'Qty': 110},
 '1022': {'Category': 'Medicine',
  'Name': 'Paracetamol',
  'Price': 15,
  'Qty': 45},
 '1023': {'Category': 'Medicine',
  'Name': 'ImmunoDoz',
  'Price': 150,
  'Qty': 233},
 '1024': {'Category': 'Clothes', 'Name': 'Jeans', 'Price': 899, 'Qty': 215},
 '1025': {'Category': 'Medicine', 'Name': 'Zinc30', 'Price': 35, 'Qty': 350},
 '1026': {'Category': 'Clothes', 'Name': 'T-Shirts', 'Price': 499, 'Qty': 212},
 '1027': {'Category': 'Clothes', 'Name': 'Shirt', 'Price': 799, 'Qty': 199},
 '1028': {'Category': 'Clothes', 'Name': 'Shorts', 'Price': 199, 'Qty': 150},
 '1029': {'Category': 'Snacks', 'Name': 'Biscuit', 'Price': 10, 'Qty': 125},
 '1030': {'Category': 'Snacks', 'Name': 'Cake', 'Price': 340, 'Qty': 124}}

**Creating Sales.json File from Scratch**

In [34]:
# Addding Time Info..
import time
t = time.ctime()

print(t)

Mon Sep  6 09:00:17 2021

In [ ]:
sales = {1 : {'Id' : id_prod, 'Name' : data[id_prod]['Name'], 'Qty' : qty_prod, 'Price' : data[id_prod]['Price'], 'Amount' : data[id_prod]['Price'] * qty_prod, 'time' : t }}

sale = json.dumps(sales)

# Writing sales into Sales.json
with open('Sales.json', 'w') as fs:
  fs.write(sale)

**Purchasing System**

In [62]:
print("********** Welcome to Inventory Management System ***********")
print(">>> Here, You can buy products from Inventory.. <<< \n")

# Taking Input from Customer - ID and Quantity
id_prod = input("Enter the ID of the product which you want to buy: ")

# Checking length of ID 
if len(id_prod) != 4:
  print("!!! Please type ID in correct format. !!!")

else:
  # Taking rest input..
  qty_prod = int(input("Enter how much quantity you want to buy: "))

  # Checking the Ordered ID exists or Not in Inventory.
  # If ID exists...
  if id_prod in data.keys():
    
    # Checking the Ordered Quantitiy is greater or lesser than Inventory having.
    # If Greater...
    if qty_prod > data[id_prod]['Qty']:
      print("#########################################")
      print(f'{qty_prod} is too much !!! SORRY !!!')

    # If Lesser...  
    else:
      print("||||||||||||||||||||||||||||||||||||||||||||||||||")
      print("Your Product is: ", data[id_prod]['Name'])
      print("Price of Product: Rs.", data[id_prod]['Price'])
      print("Total Billing Amount: Rs.", data[id_prod]['Price'] * qty_prod)
      print("*********** !! Purchase Successfull !! *************")

      # Reducing Quantity after purchasing done
      data[id_prod]['Qty'] = data[id_prod]['Qty'] - qty_prod

      # Putting recent Transaction into Sales.json
      with open('Sales.json', 'r') as frs:
        transactions = json.load(frs)

      transc_id = len(transactions) + 1

      sales[transc_id] = {'Id' : id_prod, 'Name' : data[id_prod]['Name'], 'Qty' : qty_prod, 'Price' : data[id_prod]['Price'], 'Amount' : data[id_prod]['Price'] * qty_prod, 'time' : t}

      sale = json.dumps(sales)
      with open('Sales.json', 'w') as fwp:
        fwp.write(sale)

  # If ID not exists...
  else:
    print("###########################################")
    print(f'!! SORRY !! {id_prod} ID is not exists in Inventory. Please try with different one !!')
    

# Updating Inventory after Purchasing1
rec = json.dumps(data)

with open('Records.json', 'w') as fpw:
  fpw.write(rec)

********** Welcome to Inventory Management System ***********
>>> Here, You can buy products from Inventory.. <<<

Enter the ID of the product which you want to buy: 1009
Enter how much quantity you want to buy: 58
||||||||||||||||||||||||||||||||||||||||||||||||||
Your Product is:  Frooti
Price of Product: Rs. 45
Total Billing Amount: Rs. 2610
*********** !! Purchase Successfull !! *************

In [59]:
sales

{1: {'Amount': 1575,
  'Id': '1001',
  'Name': 'Rice',
  'Price': 35,
  'Qty': 45,
  'time': 'Mon Sep  6 08:02:20 2021'},
 2: {'Amount': 340,
  'Id': '1003',
  'Name': 'Lime Juice',
  'Price': 20,
  'Qty': 17,
  'time': 'Mon Sep  6 08:02:20 2021'},
 3: {'Amount': 1170,
  'Id': '1021',
  'Name': 'Cable',
  'Price': 30,
  'Qty': 39,
  'time': 'Mon Sep  6 08:02:20 2021'},
 4: {'Amount': 8500,
  'Id': '1030',
  'Name': 'Cake',
  'Price': 340,
  'Qty': 25,
  'time': 'Mon Sep  6 09:00:17 2021'},
 5: {'Amount': 12093,
  'Id': '1014',
  'Name': 'Charger',
  'Price': 139,
  'Qty': 87,
  'time': 'Mon Sep  6 09:00:17 2021'},
 6: {'Amount': 475,
  'Id': '1002',
  'Name': 'Burger',
  'Price': 25,
  'Qty': 19,
  'time': 'Mon Sep  6 09:00:17 2021'},
 7: {'Amount': 14151,
  'Id': '1013',
  'Name': 'Mouse',
  'Price': 159,
  'Qty': 89,
  'time': 'Mon Sep  6 09:00:17 2021'},
 8: {'Amount': 179800,
  'Id': '1024',
  'Name': 'Jeans',
  'Price': 899,
  'Qty': 200,
  'time': 'Mon Sep  6 09:00:17 2021'},
 9: {'Amount': 1050,
  'Id': '1021',
  'Name': 'Cable',
  'Price': 30,
  'Qty': 35,
  'time': 'Mon Sep  6 09:00:17 2021'},
 10: {'Amount': 8700,
  'Id': '1023',
  'Name': 'ImmunoDoz',
  'Price': 150,
  'Qty': 58,
  'time': 'Mon Sep  6 09:00:17 2021'},
 11: {'Amount': 15960,
  'Id': '1001',
  'Name': 'Rice',
  'Price': 35,
  'Qty': 456,
  'time': 'Mon Sep  6 09:00:17 2021'},
 12: {'Amount': 3500,
  'Id': '1001',
  'Name': 'Rice',
  'Price': 35,
  'Qty': 100,
  'time': 'Mon Sep  6 09:00:17 2021'},
 13: {'Amount': 28942,
  'Id': '1019',
  'Name': 'Goggles',
  'Price': 499,
  'Qty': 58,
  'time': 'Mon Sep  6 09:00:17 2021'},
 14: {'Amount': 52000,
  'Id': '1015',
  'Name': 'Data Card',
  'Price': 800,
  'Qty': 65,
  'time': 'Mon Sep  6 09:00:17 2021'},
 15: {'Amount': 56729,
  'Id': '1027',
  'Name': 'Shirt',
  'Price': 799,
  'Qty': 71,
  'time': 'Mon Sep  6 09:00:17 2021'},
 16: {'Amount': 1575,
  'Id': '1025',
  'Name': 'Zinc30',
  'Price': 35,
  'Qty': 45,
  'time': 'Mon Sep  6 09:00:17 2021'},
 17: {'Amount': 3105,
  'Id': '1007',
  'Name': 'Pastry',
  'Price': 45,
  'Qty': 69,
  'time': 'Mon Sep  6 09:00:17 2021'},
 18: {'Amount': 2535,
  'Id': '1005',
  'Name': 'Pulses',
  'Price': 39,
  'Qty': 65,
  'time': 'Mon Sep  6 09:00:17 2021'},
 19: {'Amount': 420,
  'Id': '1021',
  'Name': 'Cable',
  'Price': 30,
  'Qty': 14,
  'time': 'Mon Sep  6 09:00:17 2021'}}

In [60]:
sale

'{"1": {"Id": "1001", "Name": "Rice", "Qty": 45, "Price": 35, "Amount": 1575, "time": "Mon Sep  6 08:02:20 2021"}, "2": {"Id": "1003", "Name": "Lime Juice", "Qty": 17, "Price": 20, "Amount": 340, "time": "Mon Sep  6 08:02:20 2021"}, "3": {"Id": "1021", "Name": "Cable", "Qty": 39, "Price": 30, "Amount": 1170, "time": "Mon Sep  6 08:02:20 2021"}, "4": {"Id": "1030", "Name": "Cake", "Qty": 25, "Price": 340, "Amount": 8500, "time": "Mon Sep  6 09:00:17 2021"}, "5": {"Id": "1014", "Name": "Charger", "Qty": 87, "Price": 139, "Amount": 12093, "time": "Mon Sep  6 09:00:17 2021"}, "6": {"Id": "1002", "Name": "Burger", "Qty": 19, "Price": 25, "Amount": 475, "time": "Mon Sep  6 09:00:17 2021"}, "7": {"Id": "1013", "Name": "Mouse", "Qty": 89, "Price": 159, "Amount": 14151, "time": "Mon Sep  6 09:00:17 2021"}, "8": {"Id": "1024", "Name": "Jeans", "Qty": 200, "Price": 899, "Amount": 179800, "time": "Mon Sep  6 09:00:17 2021"}, "9": {"Id": "1021", "Name": "Cable", "Qty": 35, "Price": 30, "Amount": 1050, "time": "Mon Sep  6 09:00:17 2021"}, "10": {"Id": "1023", "Name": "ImmunoDoz", "Qty": 58, "Price": 150, "Amount": 8700, "time": "Mon Sep  6 09:00:17 2021"}, "11": {"Id": "1001", "Name": "Rice", "Qty": 456, "Price": 35, "Amount": 15960, "time": "Mon Sep  6 09:00:17 2021"}, "12": {"Id": "1001", "Name": "Rice", "Qty": 100, "Price": 35, "Amount": 3500, "time": "Mon Sep  6 09:00:17 2021"}, "13": {"Id": "1019", "Name": "Goggles", "Qty": 58, "Price": 499, "Amount": 28942, "time": "Mon Sep  6 09:00:17 2021"}, "14": {"Id": "1015", "Name": "Data Card", "Qty": 65, "Price": 800, "Amount": 52000, "time": "Mon Sep  6 09:00:17 2021"}, "15": {"Id": "1027", "Name": "Shirt", "Qty": 71, "Price": 799, "Amount": 56729, "time": "Mon Sep  6 09:00:17 2021"}, "16": {"Id": "1025", "Name": "Zinc30", "Qty": 45, "Price": 35, "Amount": 1575, "time": "Mon Sep  6 09:00:17 2021"}, "17": {"Id": "1007", "Name": "Pastry", "Qty": 69, "Price": 45, "Amount": 3105, "time": "Mon Sep  6 09:00:17 2021"}, "18": {"Id": "1005", "Name": "Pulses", "Qty": 65, "Price": 39, "Amount": 2535, "time": "Mon Sep  6 09:00:17 2021"}, "19": {"Id": "1021", "Name": "Cable", "Qty": 14, "Price": 30, "Amount": 420, "time": "Mon Sep  6 09:00:17 2021"}}'