**Creating Records.json File from Scratch**

In [ ]:
import json

record = {'1001' : {'Category': 'Food', 'Name': 'Rice', 'Price': 35, 'Qty': 69},
          '1002' : {'Category': 'Snacks', 'Name': 'Burger', 'Price': 25, 'Qty': 98},
          '1003' : {'Category': 'Drinks', 'Name': 'Lime Juice', 'Price': 20, 'Qty': 50}}

data = json.dumps(record)
record

{'1001': {'Category': 'Food', 'Name': 'Rice', 'Price': 35, 'Qty': 69},
 '1002': {'Category': 'Snacks', 'Name': 'Burger', 'Price': 25, 'Qty': 98},
 '1003': {'Category': 'Drinks', 'Name': 'Lime Juice', 'Price': 20, 'Qty': 50}}

In [ ]:
with open('Records.json','w') as f:
  f.write(data)

**`Reading Records.json File`**

In [1]:
import json

with open('Records.json', 'r') as fd:
  items = json.load(fd)

items

{'1001': {'Category': 'Food', 'Name': 'Rice', 'Price': 35, 'Qty': 943},
 '1002': {'Category': 'Snacks', 'Name': 'Burger', 'Price': 25, 'Qty': 98},
 '1003': {'Category': 'Drinks', 'Name': 'Lime Juice', 'Price': 20, 'Qty': 66},
 '1004': {'Category': 'Drinks', 'Name': 'Coke', 'Price': 30, 'Qty': 89},
 '1005': {'Category': 'Food', 'Name': 'Pulses', 'Price': 39, 'Qty': 199},
 '1006': {'Category': 'Snacks', 'Name': 'Pizza', 'Price': 99, 'Qty': 200},
 '1007': {'Category': 'Snacks', 'Name': 'Pastry', 'Price': 45, 'Qty': 70},
 '1008': {'Category': 'Drinks', 'Name': 'Dew', 'Price': 35, 'Qty': 67},
 '1009': {'Category': 'Drinks', 'Name': 'Frooti', 'Price': 45, 'Qty': 90},
 '1010': {'Category': 'Technology',
  'Name': 'Laptop',
  'Price': 76500,
  'Qty': 87},
 '1011': {'Category': 'Technology', 'Name': 'PC', 'Price': 45909, 'Qty': 123},
 '1012': {'Category': 'Technology',
  'Name': 'Mobile',
  'Price': 1999,
  'Qty': 108},
 '1013': {'Category': 'Technology', 'Name': 'Mouse', 'Price': 159, 'Qty': 213},
 '1014': {'Category': 'Technology',
  'Name': 'Charger',
  'Price': 139,
  'Qty': 199},
 '1015': {'Category': 'Technology',
  'Name': 'Data Card',
  'Price': 800,
  'Qty': 67},
 '1016': {'Category': 'Technology',
  'Name': 'Earphones',
  'Price': 1599,
  'Qty': 159},
 '1017': {'Category': 'Technology',
  'Name': 'Keyboard',
  'Price': 799,
  'Qty': 210},
 '1018': {'Category': 'Accessories',
  'Name': 'Wallet',
  'Price': 110,
  'Qty': 50},
 '1019': {'Category': 'Accessories',
  'Name': 'Goggles',
  'Price': 499,
  'Qty': 90},
 '1020': {'Category': 'Accessories',
  'Name': 'Wrist Watch',
  'Price': 1899,
  'Qty': 145},
 '1021': {'Category': 'Accessories', 'Name': 'Cable', 'Price': 30, 'Qty': 110},
 '1022': {'Category': 'Medicine',
  'Name': 'Paracetamol',
  'Price': 15,
  'Qty': 45},
 '1023': {'Category': 'Medicine',
  'Name': 'ImmunoDoz',
  'Price': 150,
  'Qty': 233},
 '1024': {'Category': 'Clothes', 'Name': 'Jeans', 'Price': 899, 'Qty': 215},
 '1025': {'Category': 'Medicine', 'Name': 'Zinc30', 'Price': 35, 'Qty': 350},
 '1026': {'Category': 'Clothes', 'Name': 'T-Shirts', 'Price': 499, 'Qty': 212},
 '1027': {'Category': 'Clothes', 'Name': 'Shirt', 'Price': 799, 'Qty': 199},
 '1028': {'Category': 'Clothes', 'Name': 'Shorts', 'Price': 199, 'Qty': 150},
 '1029': {'Category': 'Snacks', 'Name': 'Biscuit', 'Price': 10, 'Qty': 125},
 '1030': {'Category': 'Snacks', 'Name': 'Cake', 'Price': 340, 'Qty': 124}}

**Adding New Products into Records.json**

In [7]:
print("********** Welcome to Inventory Management System ***********")
print(">>> Here, You can add new products into Inventory.. <<< \n")

# Taking Input for adding new products into Inventory
prod_id = input("Enter the Product ID(4 in length): ")

# Checking length of ID 
if len(prod_id) != 4:
  print("!!! Please type ID in correct format. !!!")

else:
  # Taking Rest of the Input for adding new products into Inventory
  prod_category = input("Enter the Category from which Product belongs to: ")
  prod_name = input("Enter the Name of the Product: ")
  prod_price = int(input("Enter the Price of Product: Rs."))
  prod_qty = int(input("Enter how much quantity want to add of Product: "))

  # Checking if ID already exists or Not.
  # If Not.. then add whole details
  if prod_id not in items.keys():
    items[prod_id] = {'Category': prod_category, 'Name': prod_name, 'Price': prod_price, 'Qty': prod_qty}
    print(f'>>> You have added new Product at ID {prod_id} !!.')

  # If Exists..then update the quantity
  else:
    items[prod_id]['Qty'] = items[prod_id]['Qty'] + prod_qty
    print(f'>>> Updated the Quantity at ID {prod_id} is successfull !!.')


# Writing new products into the JSON file
js_items = json.dumps(items)

with open('Records.json', 'w') as fw:
  fw.write(js_items)

********** Welcome to Inventory Management System ***********
>>> Here, You can add new products into Inventory.. <<<

Enter the Product ID(4 in length): 1025
Enter the Category from which Product belongs to: Medicine
Enter the Name of the Product: Zinc30
Enter the Price of Product: Rs.35
Enter how much quantity want to add of Product: 16
>>> Updated the Quantity at ID 1025 is successfull !!.

In [8]:
print(len(items))
print("********************")
items

30
********************

{'1001': {'Category': 'Food', 'Name': 'Rice', 'Price': 35, 'Qty': 943},
 '1002': {'Category': 'Snacks', 'Name': 'Burger', 'Price': 25, 'Qty': 98},
 '1003': {'Category': 'Drinks', 'Name': 'Lime Juice', 'Price': 20, 'Qty': 66},
 '1004': {'Category': 'Drinks', 'Name': 'Coke', 'Price': 30, 'Qty': 89},
 '1005': {'Category': 'Food', 'Name': 'Pulses', 'Price': 39, 'Qty': 199},
 '1006': {'Category': 'Snacks', 'Name': 'Pizza', 'Price': 99, 'Qty': 200},
 '1007': {'Category': 'Snacks', 'Name': 'Pastry', 'Price': 45, 'Qty': 70},
 '1008': {'Category': 'Drinks', 'Name': 'Dew', 'Price': 35, 'Qty': 67},
 '1009': {'Category': 'Drinks', 'Name': 'Frooti', 'Price': 45, 'Qty': 90},
 '1010': {'Category': 'Technology',
  'Name': 'Laptop',
  'Price': 76500,
  'Qty': 87},
 '1011': {'Category': 'Technology', 'Name': 'PC', 'Price': 45909, 'Qty': 123},
 '1012': {'Category': 'Technology',
  'Name': 'Mobile',
  'Price': 1999,
  'Qty': 108},
 '1013': {'Category': 'Technology', 'Name': 'Mouse', 'Price': 159, 'Qty': 213},
 '1014': {'Category': 'Technology',
  'Name': 'Charger',
  'Price': 139,
  'Qty': 199},
 '1015': {'Category': 'Technology',
  'Name': 'Data Card',
  'Price': 800,
  'Qty': 67},
 '1016': {'Category': 'Technology',
  'Name': 'Earphones',
  'Price': 1599,
  'Qty': 159},
 '1017': {'Category': 'Technology',
  'Name': 'Keyboard',
  'Price': 799,
  'Qty': 210},
 '1018': {'Category': 'Accessories',
  'Name': 'Wallet',
  'Price': 110,
  'Qty': 50},
 '1019': {'Category': 'Accessories',
  'Name': 'Goggles',
  'Price': 499,
  'Qty': 90},
 '1020': {'Category': 'Accessories',
  'Name': 'Wrist Watch',
  'Price': 1899,
  'Qty': 145},
 '1021': {'Category': 'Accessories', 'Name': 'Cable', 'Price': 30, 'Qty': 110},
 '1022': {'Category': 'Medicine',
  'Name': 'Paracetamol',
  'Price': 15,
  'Qty': 45},
 '1023': {'Category': 'Medicine',
  'Name': 'ImmunoDoz',
  'Price': 150,
  'Qty': 233},
 '1024': {'Category': 'Clothes', 'Name': 'Jeans', 'Price': 899, 'Qty': 215},
 '1025': {'Category': 'Medicine', 'Name': 'Zinc30', 'Price': 35, 'Qty': 366},
 '1026': {'Category': 'Clothes', 'Name': 'T-Shirts', 'Price': 499, 'Qty': 212},
 '1027': {'Category': 'Clothes', 'Name': 'Shirt', 'Price': 799, 'Qty': 199},
 '1028': {'Category': 'Clothes', 'Name': 'Shorts', 'Price': 199, 'Qty': 150},
 '1029': {'Category': 'Snacks', 'Name': 'Biscuit', 'Price': 10, 'Qty': 125},
 '1030': {'Category': 'Snacks', 'Name': 'Cake', 'Price': 340, 'Qty': 124}}

In [ ]:
del items['1031']

In [ ]:
len(items)

30